@import "../../styles/foundation";
@import "../../styles/colors";

.header {
  @include xy-grid();
  background: $color-black-dark;
  color: #FFFFFF;

  &__menu,
  &__title {
    display: flex;
    align-items: center;
  }

  &__title {
    @include xy-cell(4);
    text-transform: uppercase;
    font-weight: 600;

    &:hover {
      opacity: 0.65;
      filter: alpha(opacity=65);
    }
  }

  &__menu {
    @include xy-cell(8);
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
  }
}
