@import "../../styles/foundation";
@import "../../styles/colors";

.menu {
  &__list {
    @include menu-base();

    a {
      padding: 1rem;
    }
  }

  &__item {
  }

  &__link {
    color: #FFFFFF;
    text-transform: uppercase;

    &:focus,
    &:hover,
    &--active {
      color: $color-red-main;
    }
  }
}
