/* You can add global styles to this file, and also import other style files */
@import "./foundation";
@import "./fonts/fonts";
@import "./colors";

@include foundation-everything();
@include icons-init();


body {
  background: $color-black-main;
  color: $color-gray-main;
  font-weight: 300;
  font-size: 16px;
  font-family: 'Titillium Web', sans-serif;
}
