/* ==================================================
Font-Face Icons
================================================== */
@mixin iconBase() {
  display: inline-block;

  &:before {
    font-family: 'Icons';
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
  }
}

@mixin iconContent($content) {
  &:before {
    content: $content;
  }
}

@mixin __iconSet($name,$content) {
  &__#{$name} {
    @include iconBase();
    font-style: normal;
    @include iconContent($content);
  }
}

@mixin iconData() {
  @include iconBase();
  @include iconContent(attr(data-icon));
}

$icons: (
  zoom-out: "\e000",
  zoom-in: "\e001",
  wrench: "\e002",
  waves: "\e003",
  warning: "\e004",
  volume-up: "\e005",
  volume-off: "\e006",
  volume-down: "\e007",
  viewport: "\e008",
  user: "\e009",
  user-border: "\e00a",
  upload: "\e00b",
  upload-2: "\e00c",
  unlock: "\e00d",
  underline: "\e00e",
  tint: "\e00f",
  time: "\e010",
  text: "\e011",
  text-width: "\e012",
  text-height: "\e013",
  tags: "\e014",
  tag: "\e015",
  table: "\e016",
  strikethrough: "\e017",
  stop: "\e018",
  step-forward: "\e019",
  step-backward: "\e01a",
  stars: "\e01b",
  star: "\e01c",
  star-line: "\e01d",
  star-half: "\e01e",
  sort: "\e01f",
  sort-up: "\e020",
  sort-down: "\e021",
  social-zerply: "\e022",
  social-youtube: "\e023",
  social-yelp: "\e024",
  social-yahoo: "\e025",
  social-wordpress: "\e026",
  social-virb: "\e027",
  social-vimeo: "\e028",
  social-viddler: "\e029",
  social-twitter: "\e02a",
  social-tumblr: "\e02b",
  social-stumbleupon: "\e02c",
  social-soundcloud: "\e02d",
  social-skype: "\e02e",
  social-share-this: "\e02f",
  social-quora: "\e030",
  social-pinterest: "\e031",
  social-photobucket: "\e032",
  social-paypal: "\e033",
  social-myspace: "\e034",
  social-linkedin: "\e035",
  social-last-fm: "\e036",
  social-grooveshark: "\e037",
  social-google-plus: "\e038",
  social-github: "\e039",
  social-forrst: "\e03a",
  social-flickr: "\e03b",
  social-facebook: "\e03c",
  social-evernote: "\e03d",
  social-envato: "\e03e",
  social-email: "\e03f",
  social-dribbble: "\e040",
  social-digg: "\e041",
  social-deviant-art: "\e042",
  social-blogger: "\e043",
  social-behance: "\e044",
  social-bebo: "\e045",
  social-addthis: "\e046",
  social-500px: "\e047",
  sitemap: "\e048",
  signout: "\e049",
  signin: "\e04a",
  signal: "\e04b",
  shopping-cart: "\e04c",
  search: "\e04d",
  rss: "\e04e",
  road: "\e04f",
  retweet: "\e050",
  resize-vertical: "\e051",
  resize-vertical-2: "\e052",
  resize-small: "\e053",
  resize-horizontal: "\e054",
  resize-horizontal-2: "\e055",
  resize-fullscreen: "\e056",
  resize-full: "\e057",
  repeat: "\e058",
  reorder: "\e059",
  remove: "\e05a",
  remove-sign: "\e05b",
  remove-circle: "\e05c",
  read-more: "\e05d",
  random: "\e05e",
  question-sign: "\e05f",
  pushpin: "\e060",
  pushpin-2: "\e061",
  print: "\e062",
  plus: "\e063",
  plus-sign: "\e064",
  play: "\e065",
  picture: "\e066",
  phone: "\e067",
  phone-sign: "\e068",
  phone-boxed: "\e069",
  pause: "\e06a",
  paste: "\e06b",
  paper-clip: "\e06c",
  ok: "\e06d",
  ok-sign: "\e06e",
  ok-circle: "\e06f",
  music: "\e070",
  move: "\e071",
  money: "\e072",
  minus: "\e073",
  minus-sign: "\e074",
  map: "\e075",
  map-marker: "\e076",
  map-marker-2: "\e077",
  magnet: "\e078",
  magic: "\e079",
  lock: "\e07a",
  list: "\e07b",
  list-3: "\e07c",
  list-2: "\e07d",
  link: "\e07e",
  layer: "\e07f",
  key: "\e080",
  italic: "\e081",
  info: "\e082",
  indent-right: "\e083",
  indent-left: "\e084",
  inbox: "\e085",
  inbox-empty: "\e086",
  home: "\e087",
  heart: "\e088",
  heart-line: "\e089",
  headphones: "\e08a",
  headphones-line: "\e08b",
  headphones-line-2: "\e08c",
  headphones-2: "\e08d",
  hdd: "\e08e",
  group: "\e08f",
  grid: "\e090",
  grid-large: "\e091",
  globe_line: "\e092",
  glass: "\e093",
  glass_2: "\e094",
  gift: "\e095",
  forward: "\e096",
  font: "\e097",
  folder-open: "\e098",
  folder-close: "\e099",
  flag: "\e09a",
  fire: "\e09b",
  film: "\e09c",
  file: "\e09d",
  file-empty: "\e09e",
  fast-forward: "\e09f",
  fast-backward: "\e0a0",
  facetime: "\e0a1",
  eye: "\e0a2",
  eye_disable: "\e0a3",
  expand-view: "\e0a4",
  expand-view-3: "\e0a5",
  expand-view-2: "\e0a6",
  expand-vertical: "\e0a7",
  expand-horizontal: "\e0a8",
  exclamation: "\e0a9",
  email: "\e0aa",
  email_2: "\e0ab",
  eject: "\e0ac",
  edit: "\e0ad",
  edit-check: "\e0ae",
  download: "\e0af",
  download_2: "\e0b0",
  dashboard: "\e0b1",
  credit-card: "\e0b2",
  copy: "\e0b3",
  comments: "\e0b4",
  comments-line: "\e0b5",
  comment: "\e0b6",
  comment-line: "\e0b7",
  columns: "\e0b8",
  columns-2: "\e0b9",
  cogs: "\e0ba",
  cog: "\e0bb",
  cloud: "\e0bc",
  check: "\e0bd",
  check-empty: "\e0be",
  certificate: "\e0bf",
  camera: "\e0c0",
  calendar: "\e0c1",
  bullhorn: "\e0c2",
  briefcase: "\e0c3",
  bookmark: "\e0c4",
  book: "\e0c5",
  bolt: "\e0c6",
  bold: "\e0c7",
  blockquote: "\e0c8",
  bell: "\e0c9",
  beaker: "\e0ca",
  barcode: "\e0cb",
  ban-circle: "\e0cc",
  ban-chart: "\e0cd",
  ban-chart-2: "\e0ce",
  backward: "\e0cf",
  asterisk: "\e0d0",
  arrow-simple-up: "\e0d1",
  arrow-simple-up-circle: "\e0d2",
  arrow-simple-right: "\e0d3",
  arrow-simple-right-circle: "\e0d4",
  arrow-simple-left: "\e0d5",
  arrow-simple-left-circle: "\e0d6",
  arrow-simple-down: "\e0d7",
  arrow-simple-down-circle: "\e0d8",
  arrow-round-up: "\e0d9",
  arrow-round-up-circle: "\e0da",
  arrow-round-right: "\e0db",
  arrow-round-right-circle: "\e0dc",
  arrow-round-left: "\e0dd",
  arrow-round-left-circle: "\e0de",
  arrow-round-down: "\e0df",
  arrow-round-down-circle: "\e0e0",
  arrow-light-up: "\e0e1",
  arrow-light-round-up: "\e0e2",
  arrow-light-round-up-circle: "\e0e3",
  arrow-light-round-right: "\e0e4",
  arrow-light-round-right-circle: "\e0e5",
  arrow-light-round-left: "\e0e6",
  arrow-light-round-left-circle: "\e0e7",
  arrow-light-round-down: "\e0e8",
  arrow-light-round-down-circle: "\e0e9",
  arrow-light-right: "\e0ea",
  arrow-light-left: "\e0eb",
  arrow-light-down: "\e0ec",
  align-right: "\e0ed",
  align-left: "\e0ee",
  align-justify: "\e0ef",
  align-center: "\e0f0",
  adjust: "\e0f1",
);

@mixin icons-init() {
  @font-face {
    font-family: 'Icons';
    src: url('../../assets/fonts/Icons/Icons.eot');
    src: url('../../assets/fonts/Icons/Icons.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/Icons/Icons.woff') format('woff'),
    url('../../assets/fonts/Icons/Icons.ttf') format('truetype'),
    url('../../assets/fonts/Icons/Icons.svg#Icons') format('svg');
    font-weight: normal;
    font-style: normal;
  }

  /* Use the following CSS code if you want to use data attributes for inserting your icons */
  // TODO: Думаю стоит отказаться от дата атрибутов
  [data-icon] {
    @include iconData();
  }

  [class^="font-"],
  [class*=" font-"] {
    @include iconBase();

    line-height: 1em;
  }

  [class^="font-"],
  [class*=" font-"] {
    display: inline-block;
    line-height: 1em;
  }

  .font-icon {
    @each $name, $code in $icons {
      @include __iconSet($name, $code);
    }
  }
}
