<div block="portfolio">
  <div elem="container">
    <div elem="title">
      Мои проекты
    </div>
    <div elem="sub-title">
      Представлена лишь часть работ, остальная часть защищена NDA
    </div>
    <div elem="nav">
      <div elem="nav-title">
        Типы работ
      </div>
      <div elem="nav-container">
        <app-portfolio-nav [types]="list"></app-portfolio-nav>
      </div>
    </div>
    <div elem="list">
      <app-portfolio-list [list]="list"></app-portfolio-list>
    </div>
  </div>
</div>
