@import "../../styles/foundation";

.portfolio {
  padding: 50px 0;

  &__container {
    @include xy-grid-container();
    @include xy-grid();
  }

  &__title,
  &__sub-title {
    @include xy-cell(12);
    color: #fff;
    text-align: center;
    line-height: 1.5;
  }

  &__title {
    font-size: 2rem;
    font-weight: 300;
  }

  &__sub-title {
    font-size: 1.5rem;
    font-weight: 200;
    padding-bottom: 50px;
  }

  &__nav {
    @include xy-cell(3);
    @include xy-grid();
  }

  &__nav-title {
    @include xy-cell(12);
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 30px;
  }

  &__nav-container {
    @include xy-grid();
    @include xy-cell(12);
  }

  &__list {
    @include xy-cell(9);
  }
}
