@import "../../styles/foundation";
@import "../../styles/colors";

.portfolio-item {
  position: relative;
  width: 100%;

  &__hover {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #FFFFFF;
    font-size: 2rem;
    line-height: 1em;
    //opacity: 1;
    width: 100%;
    height: 100%;
    opacity: 0;

    &::before {
      content: '';
      display: block;
      position: absolute;
      background: $color-red-main;
    }
  }

  &:hover {
    &__hover {
      transform: rotateY(0deg) scale(1, 1);
      opacity: 1;
      //opacity: 0.80;
    }
  }
}

