@import "../../styles/foundation";
@import "../../styles/colors";

.portfolio-nav {
  &__list {
    @include menu-base();
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__item {
    width: 100%;

    a {
      color: $color-gray-main;
      padding-left: 0;

      &:hover {
        color: #ffffff;
        transition: 1s;
      }
    }
  }

  &__link {
  }
}
